*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
#container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#snow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #e3dbf6, #e898b4);
}
.card{
    width: 350px;
    height: 515px;
    perspective: 1000px;
}
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 15px;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.front,.back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
}
.front {
    background:url('https://scontent.fsgn21-1.fna.fbcdn.net/v/t39.30808-6/420163268_1058660928703814_3193780819419472385_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=oV-__RcQsmEQ7kNvgE5WPSL&_nc_ht=scontent.fsgn21-1.fna&oh=00_AfAM3XZivOI5giQxDG7uvefWtaG7BxfAsq36OWRCo-6QeA&oe=663CDAB4') ;
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}
.front h2 {
    font-weight: 500;
}
.front p {
    color: #ccc;
    font-size: 13px;
    margin-top: 5px;
}
.front button {
    width: 120px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
}
.back {
    background: #edf1f8;
    color: #333;
    padding: 20px 30px;
    transform: rotateY(180deg);
}
.back h1 {
    font-size: 50px;
    line-height: 55px;
    margin-top: 10px;
}
.back h1 span {
    font-weight: 600;
}
.back p {
    font-size: 14px;
}
.back img {
    width: 120px;
}
.row {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.col {
    flex:1;
    text-align: center;
    color: #555;
    font-size: 12px;
    position: relative;
}
.col h2 {
    font-size: 20px;
}
.col::after {
    content: "";
    width: 1.5px;
    height: 20px;
    background: #e898b4;
    position: absolute;
    top: 5px;
    right: 0;
}
.col:last-child::after {
    display: none;
}
.col p {
    margin-top: 5px;
}
.back button {
    background: #e898b4;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 8px 25px;
    border-radius: 30px;
    font-size: 14px;
    margin-right: 15px;
    box-shadow: 0 8px 10px rgba(120, 0, 173, 0.3);
    cursor: pointer;
}
.back a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.back a img {
    width: 50%;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}

  .snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url(snow.png);
    background-size: cover;
    animation: animationSnow 4s ease-in-out infinite;
  }
  @keyframes animationSnow {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(100px, 50vh);
    }
  }